{% extends 'base.html' %}



{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock %}

{% block main %}
  <div class="b-v">
    <h1>Bem Vindo!</h1>
    <p>Você está logado com o usuário: Sivanildo Oliveira</p>
  </div>

  <section class="principal">
    
    <ul>
      <li style="border-left: .5rem solid green">
        <a href="{{ url_for('servicos') }}">
          <div class="card">
            <div class="titulo">
              <h1><i class="bi bi-tools"></i>Serviços</h1>
            </div>
            
            <p>
              texto do card texto do card texto do card texto do card texto do card texto do card texto do card texto do card texto do card
            </p>
            
          </div>
        </a>
      </li>
      
      <li style="border-left: .5rem solid yellow">
        <a href="{{ url_for('mostrar', pagina='clientes') }}">
          <div class="card">
            <div class="titulo">
              <h1><i class="bi bi-people-fill"></i>Clientes</h1>
            </div>
            
            <p>
              texto do card texto do card texto do card texto do card texto do card texto do card texto do card texto do card texto do card
            </p>
            
          </div>
        </a>
      </li>
      
      <li style="border-left: .5rem solid orange">
        <a href="{{ url_for('servicos') }}">
          <div class="card">
            <div class="titulo">
              <h1><i class="bi bi-cash-coin"></i>Tabela de valores</h1>
            </div>
            
            <p>
              texto do card texto do card texto do card texto do card texto do card texto do card texto do card texto do card texto do card
            </p>
            
          </div>
        </a>
      </li>
      
      
      
      <li style="border-left: .5rem solid blue">
        <a href="{{ url_for('servicos') }}">
          <div class="card">
            <div class="titulo">
              <h1><i class="bi bi-currency-dollar"></i>Financeiro</h1>
            </div>
            
            <p>
              texto do card texto do card texto do card texto do card texto do card texto do card texto do card texto do card texto do card
            </p>
            
          </div>
        </a>
      </li>
      
    </ul>
    
  </section>
{% endblock %}