@charset "UTF-8";


:root {
    --cor2: #090C08;
    --cor1: #474056;
    --cor3: #757083;
    --cor4: #8A95A5;
    --cor5: #B9C6AE;

}

@keyframes hide {
    0%   {opacity: 0}
    10%  {opacity: 1}
    70%  {opacity: 1}
    to   {opacity: 0}
}


body {
    background-color: var(--cor5);
}


main {
    max-width: 100vw;
    margin-top: calc(65px + 2%);
    padding: 2rem 1rem;
    background-color: white;
    
}


.flash {
    position: fixed;
    top: calc(65px + 2vw);
    width: 100%;
    line-height: 1rem;
    opacity: 1;
    animation: hide 12s 0s forwards;
    z-index: 9998;
}

.row {
    margin: 0px;
    padding: 0px;
}

.titulo-page-center {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    color: var(--cor1);
    
}

.btn-curso {
    color: white;
    background-color: var(--cor4);
}

.subtitulo-page-center {
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    color: var(--cor3);
    
}