{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/criar_conta.css') }}">
{% endblock %}

{% block main %}

    <h1 style="text-align: center; padding: 1rem; color: rgba(0, 0, 0, 0.432);">Crie sua Conta</h1>
    <hr>

    <form method="POST" action="" class="border p-4 mt-2">
        {{ form.csrf_token }}
        <fieldset>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control is-invalid") }}
                    {% for erro in form.username.errors %}
                        <div class="invalid-feedback">
                            {{ erro }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.username(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    {% for erro in form.email.errors %}
                        <div class="invalid-feedback">
                            {{ erro }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.senha.label(class="form-control-label") }}
                {% if form.senha.errors %}
                    {{ form.senha(class="form-control is-invalid") }}
                    {% for erro in form.senha.errors %}
                        <div class="invalid-feedback">
                            {{ erro }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.senha(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirmacao_senha.label(class="form-control-label") }}
                {% if form.confirmacao_senha.errors %}
                    {{ form.confirmacao_senha(class="form-control is-invalid") }}
                    {% for erro in form.confirmacao_senha.errors %}
                        <div class="invalid-feedback">
                            {{ erro }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.confirmacao_senha(class="form-control") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="botoes">
            {{ form.botao_submit_criarconta(class="btn btn-primary mt-2") }}
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        
    </form>


{% endblock %}