{% extends 'base.html' %}



{% block main %}
    <h1 class="titulo-page-center">Criar Post</h1>
    <hr>
    <form class="criar-post" method="POST" action="">
        {{ form.csrf_token }}
        

            <div class="campo-input mb-4">
            	{{ form.titulo(id="titulo", class="input titulo", onfocus="foC('titulo')", onblur="foC('titulo')") }}
                {{ form.titulo.label(class="label", id="l-titulo") }}
                
			</div>
			
                {% if form.titulo.errors %}
                    {{ form.titulo(class="form-control is-invalid") }}
                    
                        <div class="invalid-feedback">
                            {{ form.titulo.errors[0] }}
                        </div>
                    
                {% endif %}
            
            <div class="campo-input">
           	 {{ form.corpo(id="corpo", class="input corpo", onfocus="foC('corpo')", onblur="foC('corpo')") }}
                {{ form.corpo.label(class="label", id="l-corpo") }}
                
			</div>
			
                {% if form.corpo.errors %}
                    {{ form.corpo(class="form-control is-invalid") }}
                    
                        <div class="invalid-feedback">
                            {{ form.corpo.errors[0] }}
                        </div>
                    
                {% endif %}
            
       

        {{ form.botao_submit(class="btn mt-2 btn-criar") }}
        
    </form>

{% endblock %}

{% block script %}
{% endblock %}