{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block main %}
    
    <h1 style="text-align: center; padding: 1rem; color: rgba(0, 0, 0, 0.432);">Faça Login em sua Conta</h1>
    <hr>
    
    <form method="POST" action="" class="border p-4 mt-2">
        {{ form.csrf_token }}
        <fieldset>
            <div class="input">
                {{ form.lemail.label(class="label") }}

                {% if form.lemail.errors %}
                    {{ form.lemail(class="i-email", placeholder=form.lemail.errors[0], value="") }}
                    
                {% else %}
                    {{ form.lemail(class="i-email") }}
                {% endif %}

               


            </div>
            <div class="input">
                {{ form.lsenha.label(class="label") }}
                {% if form.lsenha.errors %}
                    {{ form.lsenha(class="i-senha is-invalid") }}
                    {% for erro in form.lsenha.errors %}
                        <div class="invalid-feedback">
                            {{ erro }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.lsenha(class="i-senha") }}
                {% endif %}
            </div>
            <div class="lembrar">

                {{ form.lembrar_dados(class="form-check-input") }}
                {{ form.lembrar_dados.label(class="form-check-label") }}
                
            </div>
        </fieldset>
        <div class="botoes">
            {{ form.botao_submit_login(class="btn btn-primary") }}
            <a href="{{ url_for('criar_conta') }}">Criar Conta</a>
        </div>
    </form>

{% endblock %}

